## Skip/Ignore Errors Log
errors.log


### skip output redirects
out.txt
output.txt
test.txt

### skip/ignore cache
cache/


################
# ignore downloaded gems for local installs
*.gem


# do NOT check in dev/test enviroment variables in .env (dot env files)
.env
.env.yml
.env.yaml