## Skip/Ignore Errors Log
errors.log


### skip output redirects
out.txt
output.txt
test.txt

### skip/ignore cache
cache/


################
# ignore downloaded gems for local installs
*.gem
